body {
    background-color: hsl(230, 17%, 14%);
    font-family: "Inter", sans-serif;
    color: white;
}
.paragraph {
    color: hsl(228, 34%, 66%);                          
}

.container {
max-width: 400px;
margin: 0 auto;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: aquamarine;
    -webkit-transition: .5s;
    transition: .5s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: hsl(230, 17%, 14%);
    -webkit-transition: .5s;
    transition: .5s;
}
input:checked + .slider{
    background-color:hsl(230, 22%, 74%);
}
input:focus + .slider{
    box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.number {
    font-size: 60px;
    font-weight: 700px;    
}

.card-1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: hsl(228, 28%, 20%);
    margin: 30px;
    text-align: center;
    padding: 15px 25px;
    border-radius: 10px;
    max-width: 375px;
    line-height: 2;
}

.top-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.handle {
    color: hsl(228, 34%, 66%);
}
.followers {
    font-stretch: extra-expanded;
    color: hsl(228, 34%, 66%);
}

.up-down-positive {
    color: hsl(163, 72%, 41%);
}
.up-down-negative {
    color: hsl(356, 69%, 56%);
}
.facebook {
border-top: solid hsl(208, 92%, 53%);
}
.twitter {
border-top: solid hsl(203, 89%, 53%);
}
.instagram {
border-top: solid orangered
}
.youtube {
border-top: solid hsl(348, 97%, 39%);
    
}

.card-2 {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
background: hsl(228, 28%, 20%);
margin: 20px;
text-align: center;
padding: 30px 30px;
border-radius: 5px;
max-width: 375px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
}
.views {
    float: left;
    font-size:12px;
    font-stretch: expanded;
    color: hsl(228, 34%, 66%);

}
.amount {
    float: left;
    font-size: 30px;
    padding-top: 20px;
}
.percentage-up {
    float: right;
    padding-top: 30px; 
    color: hsl(163, 72%, 41%);  
}
.percentage-down {
    float: right;
    padding-top: 30px;
    color: hsl(356, 69%, 56%);
}
.icon {
    float: right;
}
.icon2 {
    float: right;
    padding-top: 30px;
}
.light-cards {
    background-color: hsl(227, 47%, 96%);
    color: black;
}
.container.light-cards, .hero.light-cards, .stats-today.light-cards, .stats.light-cards {
    background-color: white;
}

.dark-mode {
    background-color: white;
    color: black;
}

@media(min-width: 600px){
    .container {
        margin: 0 auto;
        max-width: 90vw;
        width: 90vw;
    }
    .nav {
        display: flex;
        flex-direction: row;

    }
    .stats-today {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
        grid-template-areas:
        "facebook-bottom1 instagram-bottom1 twitter-bottom1 youtube-bottom1"
        "facebook-bottom2 instagram-bottom2 twitter-bottom2 youtube-bottom2";
    }
    .stats-today div {
        width: 150px;
    }
    .stats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
      
    }
    .stats div {
        width: 150px;
    }
    
    
}

    